instance/
build/*
bin/__pycache__/*
uchicagoldrapicore/*pyc
bin/*pyc
bin/#*#
bin/*#*
uchicagoldrapicore/#*$
uchicagoldrapicore/*#*
uchicagoldrapicore/*~
bin/*~
#*#
*~
env/*
.DS_Store
__pycache__
*.egg-info/
*.swp
dist/
.project
.pyproject
.pydevproject
*.#*
*#*
